<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Vision Scan</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>visionscan</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
    <key>UIRequiresFullScreen</key>
    <true/>

    <key>NSCameraUsageDescription</key>
    <string>This app requires camera access to scan Documents, QR codes and barcodes.</string>
    <key>NSUserTrackingUsageDescription</key>
    <string>We’d like to offer you a more personalized experience by showing relevant content and ads based on your activity across apps and websites. Your data will be handled securely and in compliance with privacy laws.</string>
    <key>NSContactsUsageDescription</key>
    <string>This app needs access to your contacts to pick a phone number.</string>

    <key>NSPhotoLibraryUsageDescription</key>
    <string>We need access to your photo library to save QR code images.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>We need permission to add images to your photo library.</string>

    <key>UISupportsDocumentBrowser</key>
    <true/>
</dict>
</plist>
